# General
*.log
*.pdf
*.png
*.jpeg
*.jpg

prvi_Pokusaj/settings.py

# IDE
.idea
.vscode # VSCode settings

# Python
*.pyc
env
venv

# Databases
*.sqlite3

# JavaScript
node_modules
build/ # Webpack build output