{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Main Content -->
<div class="container mt-5">
    <!-- Card Details -->
    <div class="card-details-container">
      <div class="card-img-container">
        <img src="primer slike/SWSH4_EN_83.png" class="card-img-top" alt="..." style="height: 500px;">
      </div>
      <div class="card-info">
        <h3>Wooper</h3>
        <p>Blatnjavi smesni vodeni lol</p>
        <div class="row">
          <div class="col-sm-12">
              <button type="button" class="btn btn-success">Dodaj u korpu</button>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}